<ion-header>
  <ion-row>
      <ion-col>
          <ion-text color="secondary">
            <h5>Menu</h5>
          </ion-text>
      </ion-col>
      <ion-col text-center padding-top>
        <ion-title>Localisation des évènement</ion-title>
      </ion-col>
      <ion-col text-end>
        <ion-button (click)="recenterMap()" shape="round" fill="outline">
          <ion-icon slot="start" name="locate"></ion-icon>
          Recentrer
        </ion-button>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <div id="map_canvas"></div>
</ion-content>
