<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
          <ion-button (click)="redirectLogin()">
            logout
          </ion-button>
      </ion-col>
      <ion-col text-center padding-top>
        <ion-title>Localisation des évènement</ion-title>
      </ion-col>
      <ion-col text-end>
        <ion-button (click)="recenterMap()" shape="round">
          <ion-icon slot="start" name="locate"></ion-icon>
          Recentrer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map_canvas"></div>
      <ion-button (click)="redirectEdit()" shape="round" id="addEvent">+</ion-button>
</ion-content>
