ion-toolbar{
  --background: #2d5502;
  --color: #ffffff;

  ion-button{
    --background: green;
  }
}

ion-row{
  --background: #2d5502;
}
ion-col{
  --background: #2d5502;
}

ion-button{
  --background: #2d5502;
}

ion-item{
  --background: #d9ffd9;
}

ion-content{
  --background: #d9ffd9;
}

#map_canvas {
    width: 100%;
    height: 95%;
    border: 1px solid green;
}
   
   
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
   
#map {
  width: 100%;
  height: 90%;
}
   
.map-wrapper {
  position: relative;
   
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}

#addEvent{
  position: fixed;
  left: 85%;
  top: 95%;
}