ion-toolbar{
    --background: #2d5502;
    --color: #ffffff;
}

ion-button:hover{
    --background: #8cbd72;
}

ion-button{
    --background: #2d5502;
}

ion-item{
    --background: #d9ffd9;
}

ion-input{
    --background: #ffffff;
}

ion-content{
    --background: #d9ffd9;
}