ion-toolbar{
    --background: #2d5502;
    --color: #ffffff;
}

ion-button{
    --background: #2d5502;
}

ion-grid{
    --background: #d9ffd9;
}

ion-row{
    --background: #d9ffd9;
}

ion-col{
    --background: #d9ffd9;
}

ion-item{
    --background: #d9ffd9;
}

ion-list{
    --background: #d9ffd9;

    ion-item{
        --background: #d9ffd9;
    }
}

ion-input{
    --background: #ffffff;
}

ion-content{
    --background: #d9ffd9;
}